* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: bisque;
}


a {
    margin-left: 25px;
}

a:last-child{
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aquamarine;
}